.homepage_background {
  background-image: url('./../assets/Homepage/homepage_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.homepage_parallax {
  background-image: url('./../assets/Homepage/homepage_bg_removed.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.shooting_star {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
}

.shooting_star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

span:nth-child(1){
  top: 0;
  right: 0;
  left:initial;
  animation-delay:0 ;
  animation-duration: 1s;
}

span:nth-child(2){
  top: 0;
  right: 80px;
  left:initial;
  animation-delay:0.2s;
  animation-duration: 3s;
}

span:nth-child(3){
  top: 80px;
  right: 0px;
  left:initial;
  animation-delay:0.4s ;
  animation-duration: 2s;
}

span:nth-child(4){
  top: 0;
  right: 180px;
  left:initial;
  animation-delay:0.6s;
  animation-duration: 1.5s;
}

span:nth-child(5){
  top: 0;
  right: 400px;
  left:initial;
  animation-delay:0.8s;
  animation-duration: 2.5s;
}

span:nth-child(6){
  top: 0;
  right: 600px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 3s;
}
span:nth-child(7){
  top: 0px;
  right: initial;
  left: 400px;
  animation-delay:1s ;
  animation-duration: 1.75s;
}

span:nth-child(8){
  top: 0px;
  right: 700px;
  left:initial;
  animation-delay:1.4s ;
  animation-duration: 1.25s;
}

span:nth-child(9){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:0.75s ;
  animation-duration: 2.25s;
}

span:nth-child(10){
  top: 0px;
  right: initial;
  left: 700px;
  animation-delay:2.75s ;
  animation-duration: 2.25s;
}